.optionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
}

.optionBox__right {
  max-height: 70px;
  width: 100%;
}

.optionBox__image {
  max-height: 70px;
  width: 100%;
  object-fit: contain;
}
