.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      rgb(241, 236, 236),
      white
    );
  }
  
  .heading__book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
  }
  
  .heading__book > button {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .heading__book > button:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .heading__test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 80%;
    padding: 30px;
  }
  
  .heading__test > div {
    width: 100%;
  }
  